.Banner_container {
   position: relative;
}


.Banner {
    margin-inline: auto;
    height: 223px;
    max-width: 1240px;
    width: 95%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .Banner_about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/Image_banner_about.png);
    background-position: center;
    filter: brightness(50%); 
  }