.valeurs {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.valeur div {
  border-radius: 10px;
  margin: 0;
}

#collapse_content {
  padding: 0;
}

.collapse_about {
  margin-inline: auto;
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
  flex-direction: column;
  width: 95%;
  max-width: 1023px;
  height: auto;
  row-gap: 31px;
}

.collapse_about div {
  margin: 0;
}

.collapse-title {
  display: flex;
  align-items: center;
  background-color: #ff6060;
  color: white;
  font-size: 24px;
  height: 50px;
  padding-left: 20px;
  border-radius: 8px;
}

.collapse-paragraph {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 24px;
  font-weight: 100;
  line-height: 34px;
  text-align: left;
  background-color: rgb(245, 239, 239);
  padding-top: 22px;
  padding-bottom: 19px;
  border-radius: 10px;
  color: #000;
}

.collapse-paragraph p {
  font-size: 18px;
  line-height: 25px;
}

.collapse-paragraph li {
  font-size: 18px;
  line-height: 25px;
}

button {
  position: relative;
  justify-content: space-between;
  padding-right: 19px;
}

.open {
  position: absolute;
  right: 15px;
  font-size: 35px;
  font-weight: 300;
  width: 60px;
}

@media screen and (max-width: 600px) {
  .collapse_about {
    margin-bottom: 0;
    row-gap: 0;
    padding-top: 19px;
    padding-bottom: 0;
  }

  .collapse-title {
    font-size: 13px;
    height: 30px;
  }

  .valeurs {
    padding-bottom: 19px;
  }

  .valeur div {
    height: 30px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
  }
  .collapse-paragraph {
    padding-top: 22px;
    padding-bottom: 19px;
    border-radius: 10px;
    color: #000;
  }

  .collapse-paragraph p {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0px;
  }

  .collapse-paragraph li {
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0;
  }

  .collapse-title img {
    height: 9px;
  }
}
