.fichelogement {
  width: 95%;
  margin: auto;
}

.containerFL {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #ff6060;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  margin-bottom: 0;
}

.titleAndLocation p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  margin: 0;
}

.host {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  align-items: center;
  gap: 5px;
}

.host img {
  border-radius: 50%;
  width: 64px;
}

.host p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #ff6060;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 50%;
}

.tags p {
  display: flex;
  background-color: #ff6060;
  color: #ffffff;
  min-width: 115px;
  align-items: center;
  justify-content: center;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  margin: 0;
}

.rating {
  display: flex;
  justify-content: flex-end;
  width: 196px;
  height: 36px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 15px;
}

.star-icon {
  width: 25px;
  height: 24px;
  color: #ff6060;
}

.empty-star {
  color: #e3e3e3;
}

.collapseFicheLogement {
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin-bottom: 50px;
}

.collapseFicheLogement div {
  width: 50%;
}

.collapseFicheLogement .collapse-paragraph {
  width: 93%;
}
