


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  justify-content: center;
}

.footer img{
  margin-bottom: 55px;
  height: 36px;
}